@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

h1>a>.icon.icon-link:before,
h2>a>.icon.icon-link:before,
h3>a>.icon.icon-link:before{
    content: "#";
    font-size: 1.2rem;
}

h2>a,h3>a {
    text-decoration: none !important;
} 

code[data-line-numbers] {
    counter-reset: line;
  }
   
  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
   
    /* Other styling */
    display: inline-block;
    width: 0.75rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
   
  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1.25rem;
  }
   
  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 1.75rem;
  }
   
  code[data-line-numbers-max-digits="4"] > [data-line]::before {
    width: 2.25rem;
  }

  [data-highlighted-line] {
    background-color: rgba(255, 255, 255, 0.1) !important;
    padding: 2px;
    padding-left: 0;
    padding-right: 4px;
    border-radius: 2px;
    border-left: 2px solid rgba(160, 157, 157, 0.5);
  }

  [data-highlighted-chars] {
    background-color: rgba(255, 255, 255, 0.1) !important;
    padding: 2px;
    padding-left: 0;
    padding-right: 4px;
    border-radius: 2px;
    border-left: 2px solid rgba(160, 157, 157, 0.5);
  }

  [data-rehype-pretty-code-figure] {
    position: relative;
  }

  [data-rehype-pretty-code-title] {
    position: absolute;
    right: 0;
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    background-color: #c45d9c;
    color: antiquewhite;
    padding: 4px 8px;
    border-end-start-radius: 4px;
  }

  [data-rehype-pretty-code-caption] {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    color: #747474;
  }